#bs_top_menu_wrap,
.left_side_panel,
#bs_bottom_editor,
#wind_container {
    font-size: 15px;
    .btn,
    .btn-group > .btn,
    label {
        font-size: 15px;
    }
    .btn-small {
        font-size: 12px;
        padding-top: 5px;
    }
}

#bs_top_menu_wrap,
.left_side_panel,
#bs_bottom_editor,
#wind_container,
button,
select,
textarea,
#popup_list {
    font-family: $base-font-family;
    color: $color-text;
}

.wind .wind-close:hover > div {
    background-position: 0;
}