doctype
html(lang="ru", ng-app="app")
    head
        title Example
        meta(name="language" content="ru")
        meta(name="robots" content="noindex,nofollow")
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic" rel="stylesheet")
        link(href="a.css" rel="stylesheet")
        script(type="text/javascript")
            | function _err(e, i) {
            | console && console.error(e.stack);
            | }
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="v.js" type="text/javascript")
        script(src="b.js" type="text/javascript")
    body(ng-controller="AppCtrl as main")
        div#nocss(style="margin:75px 0;text-align:center;")
            h1 Your browser was unable to load all of App's resources.
            | They may have been blocked by your firewall, proxy or browser configuration.#[hr]
            | Press Ctrl+F5 or Ctrl+Shift+R to have your browser try again #[br]
            | and if that doesn't work, check out our #[a(href="http://help.trello.com/article/771-loading-resources-from-trellos-cdn") troubleshooting guide].

        noscript#nojs
            h1 To use App, please enable JavaScript.

        div(ng-bind="home.test")
        div
            a(ui-sref="errors-list") List

        div.clearfix(style="width:1060px; margin:0 auto;")
            ul.nav.nav-pills.nav-stacked.tabs
                li
                    a(href="#grid") Grid
                li
                    a(href="#tabs") Tabs
                li
                    a(href="#modal") Modal
                li
                    a(href="#dropdowns") Dropdowns
                li
                    a(href="#popover") Tooltip & popover
                li
                    a(href="#typography") Typography
                li
                    a(href="#buttons") Buttons
                li
                    a(href="#form") Form
                li
                    a(href="#colors") Colors
            div.l-float.tab-content(style="width:810px; margin-left:250px;")

                div.lib-section
                    a(name="grid")
                    div.color-title.font-xxl Grid
                    div.table.table-bordered.mt3.c-text
                        div.t-row
                            div.t-cell.t-head col-s-*
                            div.t-cell.t-head col-m-*
                            div.t-cell.t-head col-l-*
                            div.t-cell.t-head col-xl-*
                        div.t-row
                            div.t-cell <768px
                            div.t-cell >768px
                            div.t-cell >992px
                            div.t-cell >1200px

                    div.row.show-grid.mt3
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                        div.col-s-6.col-m-4.col-l-3.col-xl-2
                            div.ex-col col-s-6 #[br] col-m-4 #[br] col-l-3 #[br] col-xl-2
                div.lib-section.mt5
                    a(name="tabs")
                    div.color-title.font-xxl Tabs
                    div.row
                        div.col-l-6
                            div.color-subtitle.font-xl.mt2 Vertical
                            ul.nav.nav-pills.nav-stacked.mt3
                                li.active
                                    a(href="#") Modal
                                li
                                    a(href="#") Dropdown
                                li
                                    a(href="#") Form
                        div.col-l-6
                            div.color-subtitle.font-xl.mt2 Horizontal
                            div.color-subtitle.font-l.mt2 Common
                            ul.nav.nav-tabs.mt3
                                li.active
                                    a(href="#") Modal
                                li
                                    a(href="#") Dropdown
                                li
                                    a(href="#") Form

                            div.color-subtitle.font-l.mt2 Line
                            ul.nav.nav-tabs.nav-tabs-line.mt2
                                li.active
                                    a(href="#") Modal
                                li
                                    a(href="#") Dropdown
                                li
                                    a(href="#") Form

                div.lib-section.mt5
                    a(name="modal")
                    div.color-title.font-xxl Modal
                    div.row.mt3(style="width:500px")
                        div.col-l-4
                            button.btn.btn-s.btn-default.btn-ghost.btn-round(onclick="$('html').addClass('wind-opened');$('#wind-container').show(); $('.wind-wrap').removeClass('hidden'); $('#wind-s').removeClass('hidden');") Small
                        div.col-l-4
                            button.btn.btn-m.btn-default.btn-ghost.btn-round(onclick="$('html').addClass('wind-opened');$('#wind-container').show(); $('.wind-wrap').removeClass('hidden'); $('#wind-m').removeClass('hidden');") Medium
                        div.col-l-4
                            button.btn.btn-l.btn-default.btn-ghost.btn-round(onclick="$('html').addClass('wind-opened');$('#wind-container').show(); $('.wind-wrap').removeClass('hidden'); $('#wind-l').removeClass('hidden');") Large

                div.lib-section.mt5
                    a(name="dropdowns")
                    div.color-title.font-xxl Dropdowns
                    div.row.example.mt3
                        div.col-l-6
                            div.color-subtitle.font-xl Dropdown
                            span.dropdown.mt3(onclick="$(this).toggleClass('open'); $('#btn-dropdown').toggleClass('active');")
                                a.btn.btn-default.btn-ghost.btn-m.dropdown-toggle#btn-dropdown(data-toggle="dropdown") Dropdown
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a item
                                    li
                                        a item
                                    li.divider
                                    li
                                        a item
                                    li.disabled
                                        a item disabled
                                    li.active
                                        a item active


                        div.col-l-6
                            div.color-subtitle.font-xl Dropup
                            span.dropup.mt3(onclick="$(this).toggleClass('open');$('#btn-dropup').toggleClass('active');")
                                a.btn.btn-default.btn-ghost.btn-m.dropdown-toggle#btn-dropup(data-toggle="dropdown") Dropup
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a item
                                    li
                                        a item
                                    li.divider
                                    li
                                        a item

                div.lib-section.mt5
                    a(name="popover")
                    div.color-title.font-xxl Tooltip & Popover
                    div.color-subtitle.font-xl.mt3 Popover
                    div.row.mt3.example
                        div.col-l-3
                            div.popover.top
                                div.arrow
                                div.popover-content popover top
                        div.col-l-3
                            div.popover.right
                                div.arrow
                                div.popover-content popover right
                        div.col-l-3
                            div.popover.bottom
                                div.arrow
                                div.popover-content popover bottom
                        div.col-l-3
                            div.popover.left
                                div.arrow
                                div.popover-content popover left

                    div.color-subtitle.font-xl.mt3 Tooltip
                    div.row.mt3.example
                        div.col-l-3
                            div.tooltip.top
                                div.tooltip-arrow
                                div.tooltip-inner tooltip top
                        div.col-l-3
                            div.tooltip.right
                                div.tooltip-arrow
                                div.tooltip-inner tooltip right
                        div.col-l-3
                            div.tooltip.bottom
                                div.tooltip-arrow
                                div.tooltip-inner tooltip bottom
                        div.col-l-3
                            div.tooltip.left
                                div.tooltip-arrow
                                div.tooltip-inner tooltip left

                div.lib-section.mt5
                    a(name="typography")
                    div.color-title.font-xxl Typography
                    div.color-subtitle.font-xl.mt2 Font-size
                    div.font-card.mt2
                        div.font-xxl.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-xxl.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 XXL

                    div.font-card
                        div.font-xl.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-xl.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 XL

                    div.font-card
                        div.font-l.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-l.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 L

                    div.font-card
                        div.font-m.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-m.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 M

                    div.font-card
                        div.font-s.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-s.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 S

                    div.font-card(style="border-bottom:1px solid #A3AFB7;")
                        div.font-xs.color-title Съешь ещё этих мягких французских булок, да выпей чаю
                        div.font-xs.mt1.color-title The quick brown fox jumps over the lazy dog
                        div.font-s.color-hint.mt1 XS

                    div.font-xl.mt3 Link
                    div.mt2
                        div Some #[a text and] link.
                        div Some #[a(class="link-dark") text and] link.
                        div Some #[a(class="link-light") text and] link.
                        div Some #[a(class="link-negative") negative] link.
                div.mt5.lib-section
                    a(name="buttons")
                    div.color-title.font-xxl Buttons
                    div.color-title.font-xl.mt2 Size
                    div.table.table_cell-center.mt2.tbl-btns
                        div.t-row
                            div.t-cell
                                button.btn.btn-primary.btn-xl Кнопка
                            div.t-cell
                                button.btn.btn-primary.btn-l Кнопка
                            div.t-cell
                                button.btn.btn-primary.btn-m Кнопка
                            div.t-cell
                                button.btn.btn-primary.btn-s Кнопка
                            div.t-cell
                                button.btn.btn-primary.btn-xs Кнопка

                        div.t-row
                            div.t-cell
                                div.font-s.color-hint XL Button
                            div.t-cell
                                div.font-s.color-hint L Button
                            div.t-cell
                                div.font-s.color-hint M Button
                            div.t-cell
                                div.font-s.color-hint S Button
                            div.t-cell
                                div.font-s.color-hint XS Button

                    div.color-subtitle.font-xl.mt3 Variants
                    div.mt2
                        button.btn-m.btn-primary Primary
                        button.btn-m.btn-success.ml2 Success
                        button.btn-m.btn-info.ml2 Info
                        button.btn-m.btn-warning.ml2 Warning
                        button.btn-m.btn-danger.ml2 Danger
                        button.btn-m.btn-link.ml2 Link
                        button.btn-m.btn-link-text.ml2 Link-text

                    div.color-subtitle.font-xl.mt3 Ghost
                    div.mt3
                        button.btn-m.btn-ghost.btn-default Ghost default
                        button.btn-m.btn-ghost.btn-primary.ml2 Ghost primary
                        button.btn-m.btn-ghost.btn-success.ml2 Ghost success
                        button.btn-m.btn-ghost.btn-info.ml2.mr2 Ghost info
                        button.btn-m.btn-ghost.btn-warning.mt2 Ghost warning
                        button.btn-m.btn-ghost.btn-danger.mt2 Ghost danger

                    div.color-subtitle.font-xl.mt2 Round
                    div.mt3.tbl-btns.p2
                        button.btn-xs.btn-ghost.btn-default.btn-round Кнопка
                        button.btn-s.btn-ghost.btn-default.btn-round.ml2 Кнопка
                        button.btn-m.btn-ghost.btn-default.btn-round.ml2 Кнопка
                        button.btn-l.btn-ghost.btn-default.btn-round.ml2 Кнопка
                        button.btn-xl.btn-ghost.btn-default.btn-round.ml2 Кнопка

                    div.color-subtitle.font-xl.mt2 Disabled
                    div.mt3
                        button.btn-m.btn-disabled.btn-default Default
                        button.btn-m.btn-disabled.btn-primary.ml2 Primary
                        button.btn-m.btn-disabled.btn-success.ml2 Success
                        button.btn-m.btn-disabled.btn-info.ml2 Info
                        button.btn-m.btn-disabled.btn-warning.ml2 Warning
                        button.btn-m.btn-disabled.btn-danger.ml2 Danger

                    div.color-subtitle.font-xl.mt2 Loading
                    div.mt3
                        button.btn-m.btn-loading Loading

                    div.color-subtitle.font-xl.mt2 Block
                    div.mt3
                        button.btn-m.btn-primary.btn-block Btn-block
                    div.color-subtitle.font-xl.mt2 Group
                    div.mt3
                        div.btn-group
                            button.btn.base-button.btn-m.btn-primary Default
                            button.btn.btn-m.btn-primary Default
                            button.btn.btn-m.btn-primary Default
                        div.btn-group.ml3
                            button.btn.base-button.btn-m.btn-primary.btn-round Default
                            button.btn.btn-m.btn-primary.btn-round Default
                            button.btn.btn-m.btn-primary.btn-round Default



                div.mt5.lib-section
                    a(name="form")
                    div.font-xxl.color-title Form
                    div.row.mt3
                        div.col-l-6
                            div.font-xl.color-subtitle Input
                            div.mt3
                                input.input-s(placeholder="Плейсхолдер")
                                button.btn-s.btn-primary.ml1 Default

                            div.mt3
                                input.input-m(placeholder="Плейсхолдер")
                                button.btn-m.btn-primary.ml1 Default
                            div.mt3
                                input.input-l(placeholder="Плейсхолдер")
                                button.btn-l.btn-primary.ml1 Default
                            div.mt3
                                input.input-xl(placeholder="Плейсхолдер")
                                button.btn-xl.btn-primary.ml1 Default
                            div.mt3
                                    input.input-xl.input-disabled(value="Disabled input")
                                    button.btn-xl.btn-disabled.btn-primary.ml1 Disabled
                        div.col-l-6
                                div.font-xl.color-subtitle Select
                                div.mt3
                                    select.select-s
                                        option a
                                        option b
                                        option c
                                div.mt3
                                    select.select-m
                                        option a
                                        option b
                                        option c
                                div.mt3
                                    select.select-l
                                        option a
                                        option b
                                        option c
                                div.mt3
                                    select.select-xl
                                        option a
                                        option b
                                        option c

                    div.row.mt3
                        div.col-l-6
                            div.font-xl.mt3.color-subtitle Round input
                            div.mt3
                                input.input-m.input-round(placeholder="Плейсхолдер")
                            div.mt3.form-group-round
                                input.input.input-m(placeholder="Плейсхолдер")
                                button.btn.btn-m.btn-primary Кнопка
                            div.mt3.form-group-round
                                input.input.input-l(placeholder="Плейсхолдер")
                                button.btn.btn-l.btn-primary Кнопка
                        div.col-l-6
                            div.font-xl.mt3.color-subtitle Range
                                div.range.mt3
                                    div.range-bar
                                    div.range-pointer(style="left:20%")
                                    div.range-selected(style="left:0; width:20%;")
                                div.range.mt2
                                    div.range-bar
                                    div.range-pointer(style="left:50%")
                                    div.range-selected(style="left:0; width:50%;")
                                div.range.mt2
                                    div.range-bar
                                    div.range-pointer(style="left:75%")
                                    div.range-selected(style="left:0; width:75%;")



                    div.row.mt3
                        div.col-l-6
                            div.font-xl.mt3.color-subtitle Textarea
                            div.mt3
                                div.mt2
                                    textarea.textarea-s(rows="2")
                                        | some text
                                        | etxt
                                div.mt2
                                    textarea.textarea-m(rows="2")
                                        | some text
                                        | etxt
                                div.mt2
                                    textarea.textarea-l(rows="2")
                                        | some text
                                        | etxt
                                div.mt2
                                    textarea.textarea-xl(rows="2")
                                        | some text
                                        | etxt
                                div.mt2
                                    textarea.textarea-s.mt1.textarea-disabled(rows="2")
                                        | some text
                                        | etxt
                        div.col-l-6
                    div.row.mt3
                        div.col-l-6
                            div.font-xl.color-subtitle Checkbox & Radio
                            div.mt3
                                div
                                    label.checkbox
                                        input(type="checkbox")
                                        span.control-indicator
                                        span Checkbox text

                                div.mt1
                                    label.radio
                                        input(type="radio" name="foo1")
                                        span.control-indicator
                                        span Checkbox text

                                    label.radio
                                        input(type="radio" name="foo1")
                                        span.control-indicator
                                        span Checkbox text
                        div.col-l-6
                            div.font-xl.color-subtitle Switch
                            div.mt2
                                div.table
                                    div.t-row
                                        div.t-cell
                                            div.font-l.color-subtitle.mb1 Normal
                                            div.switch.on(onclick="$(this).toggleClass('on'); $(this).toggleClass('off');")
                                            div.switch.off.ml1(onclick="$(this).toggleClass('on'); $(this).toggleClass('off');")
                                        div.t-cell
                                            div.font-l.color-subtitle.mb1 Mini
                                            div.switch.mini.on(onclick="$(this).toggleClass('on'); $(this).toggleClass('off');")
                                            div.switch.mini.off.ml1(onclick="$(this).toggleClass('on'); $(this).toggleClass('off');")

                div.mt5.lib-section.mb5
                    a(name="colors")
                    div.font-xxl.color-title Colors
                        a(name="colors")
                    div.clearfix.mt3

                            div.l-float
                                div.card.card-primary(style"margin:0;") #62a8ea
                                div.c-text.mt1 Primary
                            div.l-float.ml2
                                div.card.card-success #3aa99e
                                div.c-text.mt1 Success
                            div.l-float.ml2
                                div.card.card-danger #f96868
                                div.c-text.mt1 Danger
                            div.l-float.ml2
                                div.card.card-gray(style="color:#76838F") #E4EAEC
                                div.c-text.mt1 Default
                            div.l-float.ml2
                                div.card.card-dark-gray #37474F
                                div.c-text.mt1 Title
                            div.l-float.ml2
                                div.card.card-warning #f2a654
                                div.c-text.mt1 Warning
                            div.l-float.ml2
                                div.card.card-info #57C7D4
                                div.c-text.mt1 Info
                            div.l-float.ml2
                                div.card.card-light-gray #76838F
                                div.c-text.mt1 Text



        div#wind-container(style="display:none")
            div.wind-wrap.hidden
                div.wind.wind-s.hidden#wind-s
                    div.wind-header Header
                        div.wind-close(onclick="$('html').removeClass('wind-opened');$('#wind-container').hide(); $('.wind-wrap').addClass('hidden'); $('.wind').addClass('hidden');")
                            div
                    div.wind-body body
                    div.wind-footer
                        div.btn.btn-m.btn-primary Save
                        div.btn.btn-m.btn-default.btn-ghost Cancel

                div.wind.wind-m.hidden#wind-m
                    div.wind-header Header
                        div.wind-close(onclick="$('html').removeClass('wind-opened');$('#wind-container').hide(); $('.wind-wrap').addClass('hidden'); $('.wind').addClass('hidden');")
                            div
                    div.wind-body Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации соответствующий условий активизации. С другой стороны сложившаяся структура организации способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас анализа существенных финансовых и административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                    div.wind-footer.clearfix
                        div.btn.btn-m.btn-primary Сохранить
                        div.btn.btn-m.btn-default.btn-link Отмена

                div.wind.wind-l.hidden#wind-l
                    div.wind-header Header
                        div.wind-close(onclick="$('html').removeClass('wind-opened');$('#wind-container').hide(); $('.wind-wrap').addClass('hidden'); $('.wind').addClass('hidden');")
                            div
                    div.wind-body body
                    div.wind-footer
                        div.btn.btn-m.btn-primary Save
                        div.btn.btn-m.btn-default.btn-ghost Cancel

